maps/scenarios/trade_test.pmp
maps/scenarios/trade_test.xml
maps/scenarios/upgrades.pmp
maps/scenarios/upgrades.xml
art/textures/ui/session/portraits/technologies/tech icons for pureon.zip
art/textures/skins/skeletal/D606.diff
art/textures/skins/structural/sparta_struct_norm.zip
art/textures/ui/session/portraits/gaia/gaia.zip
source/gui/civsel/civsel.js
source/gui/civsel/civsel.xml
source/gui/civsel/sprites.xml
source/gui/civsel/styles.xml
source/gui/gamesetup/gamesetup.js
source/gui/gamesetup/gamesetup.xml
source/gui/gamesetup/gamesetup.xml.bak
art/textures/ui/session/portraits/technologies/helmet_icons.zip
art/textures/ui/session/portraits/units/hero_card.psd
art/textures/ui/session/portraits/units/hero_card.psd
art/textures/ui/session/portraits/technologies/hero_card.psd
art/textures/ui/session/portraits/units/ptol_hero_cleopatra.psd
art/textures/ui/session/portraits/units/mace_hero_alexander.psd
art/textures/ui/session/portraits/technologies/hero_card_2.psd
art/textures/ui/session/portraits/technologies/hero_card_2.psd
art/textures/ui/session/portraits/hero_card_2.psd
art/textures/ui/session/portraits/units/hero.psd
source/art_files/art/textures/gui/wrestling.psd
art/textures/ui/session/portraits/units/athen/hero_socrates.psd
art/textures/ui/session/portraits/technologies/civ_choices/hero_card.psd
art/textures/ui/session/portraits/technologies/civ_choices/hero_card_2.psd
source/art_files/art/textures/skins/skeletal/zapo/zapo_slave_m_01.psd
source/art_files/art/textures/skins/skeletal/zapo/zapo_slave_m_spec.psd
art/textures/ui/session/portraits/technologies/civ_choices/hero_card_rome.psd
art/textures/ui/session/portraits/structures/archery_range.psd
art/textures/cursors/action-garrison-turret.psd
*.lnk
